#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  overflow: hidden;
}

:root {
  --font-size-h1: 2rem;
  --font-size-h2: calc(var(--font-size-h1) * 0.85); /* 1.7rem */
  --font-size-h3: calc(var(--font-size-h2) * 0.85); /* 1.445rem */
  --font-size-h4: calc(var(--font-size-h3) * 0.85); /* 1.228rem */
  --font-size-h5: calc(var(--font-size-h4) * 0.85); /* 1.043rem */
  --font-size-h6: calc(var(--font-size-h5) * 0.85); /* 0.886rem */
  --font-size-p: 1rem;
  --line-height: 1.5;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-style-italic: italic;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

p,
ul,
ol {
  font-size: var(--font-size-p);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

em,
i {
  font-style: var(--font-style-italic);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
